<div class="row main-row" >
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-4">
   
        <input matInput placeholder="Ingrese su búsqueda">
        <button mat-button matSuffix aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>
    
    </div>
      <div class="col-sm-4">
      <button type="button" class="btn btn-custom" type="button" (click)="newdocente()">
        Nuevo alumno
     </button>
     </div>
    </div>
    <div class="row">
      <br/>
      <br/>
    </div>
</div>