<div class="row main-row" >
    <div class="row">
        <br/>
    </div>
    <div class="row">
        <div class="col-sm-4">
   
        <input matInput placeholder="Ingrese su búsqueda">
        <button mat-button matSuffix aria-label="Buscar">
          <mat-icon>search</mat-icon>
        </button>
    
    </div>
      <div class="col-sm-4">
      <button type="button" class="btn btn-custom" type="button" (click)="newdocente()">
        Nuevo alumno
     </button>
     </div>
    </div>
    <div class="row">
      <br/>
      <br/>
    </div>
    <div class="row">
        <table mat-table [dataSource]="studentsDS">
            <!-- Columnas de la tabla -->
            
            <ng-container matColumnDef="Nombres">
              <th mat-header-cell class="mat-header-cell" *matHeaderCellDef> Nombre(s) </th>
              <td mat-cell *matCellDef="let registro"> {{registro.nombres}} </td>
            </ng-container>
          
            <ng-container matColumnDef="ApellidoPaterno">
              <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Apellido Paterno</th>
              <td mat-cell *matCellDef="let registro"> {{registro.aPaterno}} </td>
            </ng-container>

            <ng-container matColumnDef="ApellidoMaterno">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Apellido Materno</th>
                <td mat-cell *matCellDef="let registro"> {{registro.aMaterno}} </td>
              </ng-container>

              <ng-container matColumnDef="GradoGrupo">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Grado y Grupo</th>
                <td mat-cell *matCellDef="let registro"> {{registro.gradoGrupo}} </td>
              </ng-container>
              
              <ng-container matColumnDef="Matricula">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Matricula</th>
                <td mat-cell *matCellDef="let registro"> {{registro.matricula}} </td>
              </ng-container>
          
              <ng-container matColumnDef="FechaNacimiento">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Fecha Nacimiento</th>
                <td mat-cell *matCellDef="let registro"> {{registro.fechaNacimiento}} </td>
              </ng-container>
          
              <ng-container matColumnDef="Actions">
                <th mat-header-cell class="mat-header-cell" *matHeaderCellDef>Acciones</th>
                <td mat-cell *matCellDef="let row">
                 
                    <i (click)="onDelete(row.id)"class="fas fa-user" matTooltip="Alumno" style="color: #083A5B;"></i>
                    &nbsp;
                    <i (click)="onDelete(row.id)" class="fa-solid fa-credit-card-alt" matTooltip="Estado de cuenta"  style="color: #083A5B;"></i>
                    &nbsp;
                    <i (click)="onDelete(row.id)" class="fa-solid fa-person" matTooltip="Asistencia"  style="color: #083A5B;"></i>
                    &nbsp;
                    <i (click)="onDelete(row.id)" class="fa-solid fa-address-book"  matTooltip="Contacto"  style="color: #083A5B;"></i>
                    &nbsp;
                    <i (click)="onDelete(row.id)" class="fa-solid fa-certificate"  matTooltip="Calificaciones"  style="color: #083A5B;"></i>
                    
                </td>
              </ng-container>
            <!-- Agrega más columnas según sea necesario -->
          
            <!-- Filas de la tabla -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>