<div class="row main-row" >
    <div class="row">
      <br/>
      <br/>
    </div>

    <div class="row" style="padding-left: 10%;">
        
        <div class="col-sm-4 div-border">
            <div class="row" style="display: grid; justify-content: right;" >

                <i (click)="saveStudent()" class="fa-solid fa-save" style="font-size:1.5em;" ></i>
                
                <br/>
            </div>
            <div class="row" >
                <h5 class="text-label" style="text-align: center;">Datos del estudiante</h5>
                <br/>
                <br/>
            </div>
                <div class="row" >
                    <div class="col-sm-4">
                        <input type="file" #inputImagen (change)="cargarImagen($event)" hidden>
                        <img src={{this.fileImage}} (click)="seleccionarImagen()"  height="100"  width="80px"/>
                    </div>
                    <div class="col-sm-7">
                        <form [formGroup]="form" >
                            <div class="row" >
                                <label class="text-label " for="campo1">Matricula</label>
                            </div> 
                                <div class="row" >
                                    <input matInput type="text" formControlName="matricula" aria-label="Montserrat" >
                                </div>
                                <br/>
                            <div class="row" >
                                
                            <label class="text-label " for="campo1">Nombre(s)</label>
                            </div>
                           
                            <div class="row" >
                                <input matInput type="text" formControlName="nombres" aria-label="Montserrat" >
                            </div>
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Apellido Paterno</label>
                            </div>
                           
                            <div class="row" >
                                <input   matInput type="text" formControlName="apaterno" aria-label="Montserrat">
                            </div>
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Apellido Materno</label>
                            </div>
                            
                            <div class="row" >
                                <input  matInput type="email" formControlName="amaterno" aria-label="Montserrat" >
                            </div>  
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">CURP</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="text" formControlName="curp" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Dirección</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="text" formControlName="direccion" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Código Postal</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="number" formControlName="codigopostal" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Fecha de Nacimiento</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="date" formControlName="fnacimiento" aria-label="Montserrat">
                            </div> 
                          </form>
                    </div>
                    <div class="col-sm-1"></div>
                    
                </div>
           
        </div>
        <div class="col-sm-1" ></div>
        <div class="col-sm-3 div-border" >
            <div class="row" style="display: grid; justify-content: right;" >

                <i (click)="saveFichaMedica()" class="fa-solid fa-save" style="font-size:1.5em;" ></i>
                
                <br/>
            </div>
            <div class="row" >
                <h5 class="text-label" style="text-align: center;">Ficha médica</h5>
                <br/>
                <br/>
                
            </div>
                <div class="row" >
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <form [formGroup]="formM" >
                            <div class="row" >
                            <label class="text-label " for="campo1">Estatura</label>
                            </div>
                           
                            <div class="row" >
                                <input matInput type="number" formControlName="estatura" aria-label="Montserrat" >
                            </div>
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Peso</label>
                            </div>
                           
                            <div class="row" >
                                <input   matInput type="number" formControlName="peso" aria-label="Montserrat">
                            </div>
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Tipo de sangre</label>
                            </div>
                            
                            <div class="row" >
                                <input  matInput type="text" formControlName="tiposangre" aria-label="Montserrat" >
                            </div>  
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Alergias</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="text" formControlName="alergias" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row">
                               
                                <label class="text-label " for="campo3">Usa lentes</label>
                            </div> 
                            <div class="row" >
                                <input matInput type="text" formControlName="lentes" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Zapatos ortopédicos</label>
                            </div>
                            
                            <div class="row" >
                                <input matInput type="numbe" formControlName="zapatosO" aria-label="Montserrat">
                            </div> 
                            <br/>
                            <div class="row" >
                                <label class="text-label"  for="campo2">Certificado médico</label>
                            </div>
                            
                            <div class="row" >
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <i *ngIf="this.certificadoMedico==''" class="fa-solid fa-file-pdf" style="font-size:1.5em;"></i>
                                   <a *ngIf="this.certificadoMedico!=''" href={{this.certificadoMedico}} style="color:#F36E27; "> <i class="fa-solid fa-file-pdf" style="font-size:1.5em;" ></i></a>
                                </div>
                                <div class="col-sm-3">
                                    <input type="file" #inputImagenCertificadoM (change)="cargarImagenCedula($event)" hidden>
                                    <i (click)="seleccionarCertificadoM()" class="fa-solid fa-upload" style="font-size:1.5em;" ></i>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>   
                            <div class="row" >
                                <label class="text-label"  for="campo2">Cartilla de vacunación</label>
                            </div>
                            
                            <div class="row" >
                                <div class="col-sm-3"></div>
                                <div class="col-sm-3">
                                    <i *ngIf="this.cartillaVacunacion==''"  class="fa-solid fa-file-pdf" style="font-size:1.5em;" ></i>
                                    <a *ngIf="this.cartillaVacunacion!=''" href={{this.cartillaVacunacion}} style="color:#F36E27; "><i  class="fa-solid fa-file-pdf" style="font-size:1.5em;" ></i></a>
                                </div>
                                <div class="col-sm-3">
                                    <input type="file" #inputImagenCartilla (change)="cargarImagenCartilla($event)" hidden>
                                    <i (click)="seleccionarCartilla()" class="fa-solid fa-upload" style="font-size:1.5em;" ></i>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>   
                          </form>
                    </div>
                    <div class="col-sm-1"></div>
                    
                </div>
        </div>
        <div class="col-sm-1" ></div>
        <div class="col-sm-3 div-border">
            <div class="row" style="display: grid; justify-content: right;" >

                <i (click)="saveContactos()" class="fa-solid fa-save" style="font-size:1.5em;" ></i>
                
                <br/>
            </div>
            <div class="row div-center" >
                    <h5 class="text-label">Contactos</h5>
                    <br/>
            </div>
         
            <div class="row" >
                <div class="col-sm-1">

                </div>
                <div class="col-sm-10">
                    <form [formGroup]="formP" >
                        <div class="row" >
                            
                        <label class="text-label " for="campo1">Nombre(s)</label>
                        </div>
                       
                        <div class="row" >
                            <input matInput type="text" formControlName="nombres" aria-label="Montserrat" >
                        </div>
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Apellido Paterno</label>
                        </div>
                       
                        <div class="row" >
                            <input   matInput type="text" formControlName="apaterno" aria-label="Montserrat">
                        </div>
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Apellido Materno</label>
                        </div>
                        
                        <div class="row" >
                            <input  matInput type="email" formControlName="amaterno" aria-label="Montserrat" >
                        </div>  
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Dirección</label>
                        </div>
                        
                        <div class="row" >
                            <input matInput type="text" formControlName="direccion" aria-label="Montserrat">
                        </div> 
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Código Postal</label>
                        </div>
                        
                        <div class="row" >
                            <input matInput type="number" formControlName="codigopostal" aria-label="Montserrat">
                        </div> 
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Fecha de Nacimiento</label>
                        </div>
                        
                        <div class="row" >
                            <input matInput type="date" formControlName="fnacimiento" aria-label="Montserrat">
                        </div> 
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Celular</label>
                        </div>
                        
                        <div class="row" >
                            <input matInput type="number" formControlName="celular" aria-label="Montserrat">
                        </div> 
                        <br/>
                        <div class="row" >
                            <label class="text-label"  for="campo2">Curp</label>
                        </div>
                        
                        <div class="row" >
                            <input matInput type="text" formControlName="curp" aria-label="Montserrat">
                        </div> 
                        <br/>
                        
                            <div class="row">
                                <div class="col-sm-10">
                                    <label for="miSwitch">Contacto de emergencia</label>
                                </div>
                                <div class="col-sm-2">                              
                                    <mat-slide-toggle id="emergencia"></mat-slide-toggle>
                                </div>
                                
                            </div>
                      
                        <br/>
                        <div class="row">
                            <div class="col-sm-10">
                                <label for="miSwitch">Permiso para recoger</label>
                            </div>
                            <div class="col-sm-2">                              
                                <mat-slide-toggle id="recoger"></mat-slide-toggle>
                            </div>
                            
                        </div>
                  
                    <br/>
                    <div class="row">
                        <div class="col-sm-10">
                            <label for="miSwitch">Fotografía</label>
                        </div>
                        <div class="col-sm-2">     
                            <input type="file" #inputImageContacto (change)="cargarFotoContacto($event)" hidden>
                            <i (click)="seleccionarImagenContacto()" class="fa-solid fa-file-image" style="font-size:1.5em;" ></i>
                        </div>
                        
                    </div>
              
                <br/>
                    <div class="row">
                        <div class="col-sm-10">
                            <label for="miSwitch">Contacto principalr</label>
                        </div>
                        <div class="col-sm-2">                              
                            <mat-slide-toggle id="contactoP"></mat-slide-toggle>
                        </div>
                        
                    </div>
              
                <br/>
                      </form>
                </div>
                
                  <div class="col-sm-1">
                    
                  </div>
            </div>
        </div>

            

  

    </div>
</div>
 


