# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  name: default

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '18.13'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
    ng build --prod
  displayName: 'npm install and build'

- task: AzureRmWebAppDeployment@4
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'SoftwareCity(1)(b250050f-c3ff-473b-aad8-490457d7cbe5)'
    appType: 'webApp'
    WebAppName: 'centroescolarmex'
    packageForLinux: 'dist'
    enableCustomDeployment: true
    DeploymentType: 'webDeploy'

