<!-- INDEX Method CONTENT (MAIN CONTENT) -->
<div class="panel">
    <div  *ngIf="false" class="row p-3">
      <div class="col-md-12 mt-3">
        <h5>Tarjetas y métodos de pago</h5>
      </div>
      <div class="col-md-6">
        <h5 *ngIf="saldo >= 0" class="fw-bold" style="color: green;">Saldo ${{ saldo }} MXN</h5>
        <h5 *ngIf="saldo < 0" class="fw-bold" style="color: red;">Saldo ${{ saldo }} MXN</h5>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-dark btn-sm me-2" (click)="recharge()">
          <i class="fa-solid fa-money-bill-1-wave text-white ms-1 me-2"></i>
          Recargar saldo
        </button>
        <button class="btn btn-dark btn-sm" (click)="addPaymentMethod()">
          <i class="fa-solid fa-credit-card text-white ms-1 me-2"></i>
          Agregar método de pago
        </button>
      </div>
      <div *ngIf="paymentMethods.length != 0" class="col-md-12 mt-3" style="overflow-y: scroll !important;">
        <table class="table table-hover table-sm">
          <caption>Listado de tarjetas y métodos de pago</caption>
          <thead>
            <tr>
              <th scope="col">Últimos 4 dígitos</th>
              <th scope="col">Marca</th>
              <th scope="col" class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paymentMethod of paymentMethods; index as i">
              <td> **** {{ paymentMethod.last4 }}</td>
              <td>{{ paymentMethod.brand }}</td>
              <td class="text-center">
                <!--a (click)="editMethod(method)" *ngIf="!method.specialKey">
                    <i class="fa-solid fa-gear fa-lg ms-3"></i>
                  </a-->
                <a (click)="confirmDeleteMethod(paymentMethod)">
                  <i class="fa-solid fa-trash fa-lg ms-3"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
     
      <div *ngIf="paymentMethods.length == 0" class="col-md-12 mt-3 text-center">
        No se han encontrado métodos de pago
      </div>
    </div>
</div>
  <!-- END INDEX Method CONTENT (MAIN CONTENT) -->
  <div  class="w-100 d-flex justify-content-center align-items-center" style="min-height: 77vh;">
    <div class="my-5" style="background-color: #083A5B; width: 85%;">
        <div class="m-5 mb-2 row" style="border: 1px solid white;">
            <div class="col-12 col-md-7 pb-5">
                <div class="d-flex flex-column gap-2 text-white p-4 ">
                    <p style="border-bottom: 1px dashed white;" class="font-16 pb-3">
                        Conceptos agregados
                    </p>
                    <div class="d-flex gap-3 w-100 align-items-center px-2 border-card-account py-2 rounded flex-wrap" style="border: 1px solid white;">
                        <div
                            class="flex-1 d-flex px-3 align-items-center gap-4">
                            <i class="fa-sharp fa-solid fa-file-invoice-dollar"
                                style="font-size: 20px; color: #D9A706;"></i>
                            <div>
                                <p class="mb-0 pb-1 fw-semibold font-16">Pago de Mensualidad
                                </p>
                            </div>
                        </div>
                        <div class="d-flex gap-2 align-items-center">
                            <p class="mb-0 pb-0 fw-semibold font-14">$1,000.00</p>
                            <button class="btn" disabled style="border: none !important;">
                                <i class="fa-solid fa-trash main-color" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                    <div class="w-100 pb-3" style="border-bottom: 1px dashed white;"></div>
                    <div class="d-flex justify-content-between pt-2">
                        <p class="font-16">
                            Total para pagar:
                        </p>
                        <p class="font-16">
                            $1,000.00 MXN
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 bg-white">

            </div>
        </div>
        <div class="w-100 py-3 px-5 px-5">
            <div class="d-flex w-100 justify-content-end">
                <button (click)="recharge()" type="button" class="btn btn-primary px-4 font-14" style="min-width: none; width: auto; background-color: #F36E28;">
                    Pagar
                </button>
                <button (click)="addPaymentMethod()" type="button" class="btn btn-primary px-4 font-14" style="min-width: none; width: auto; background-color: #F36E28;">
                    Agregar Metodo de Pago
                </button>
            </div>
        </div>
    </div>
</div>
  
  <!--ADD PAYMENT METHOD-->
  <ng-template #addPaymentMethodModal let-modal>
    <app-stripe-credit-card (updateCardView)="getInfo()"></app-stripe-credit-card>
  </ng-template>
  <!--END ADD PAYMENT METHOD-->
   
  
  <!--ADD PAYMENT METHOD-->
  <ng-template #rechargeModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Recarga de saldo</h5>
    </div>
    <div class="modal-body">
      <form autocomplete="off" [formGroup]="form" class="row">
  
        <div class="col-md-8">
          <div class="form-group mt-0">
            <label>Tarjeta</label>
            <select class="form-select form-select-sm" formControlName="card">
              <option value="" disabled selected>Selecciona una opción</option>
              <option [ngValue]="paymentMethods" *ngFor="let paymentMethods of paymentMethods">
                Tarjeta con terminación en: {{ paymentMethods.last4 }}
              </option>
            </select>
            <small *ngIf="cardEmpty" class="form-text text-danger">
              Selecciona una opción
            </small>
          </div>
        </div>
        <div class="col-md-4">
          <label for="amountInput">Monto (MXN)</label>
          <input type="number" formControlName="amount" [class.is-invalid]="amountEmpty"
            class="form-control form-control-sm" id="amountInput" placeholder="Ej: $1000">
          <small *ngIf="amountEmpty" class="form-text text-danger">
            Ingresa un monto valido
          </small>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm d-inline p-2 btn-outline-dark float-right mr-2"
        (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-sm d-inline p-2 btn-dark float-left ml-2 mr-4"
        (click)="executeRecharge()">Guardar</button>
    </div>
  </ng-template>
  <!--END ADD PAYMENT METHOD-->
  
  
  <ng-template #confirmPaymentModal let-modal>
    <app-confirm [tittleMsg]="'Confirmación'"
      [contentMsg]="'Se recargará el monto de $' + amount + ' a su saldo BinariaId con la tarjeta con terminación ' + card.last4"
      (confirmAction)="confirmPayment()" (cancelAction)="modal.dismiss('Cross click')">
    </app-confirm>
  </ng-template>
  
  
  <ng-template #errorMsgModal let-modal>
    <app-danger [tittleMsg]="'Error'" [contentMsg]="'Ha ocurrido un error, intente de nuevo mas tarde'"
      (confirmAction)="modal.dismiss('Cross click')">
    </app-danger>
  </ng-template>
  
  
  <ng-template #confirmDeleteModal let-modal>
    <app-confirm [tittleMsg]="'Confirmación'"
      [contentMsg]="'¿Esta seguro de querer eliminar la tarjeta ' + this.selectedPaymentMethod.last4 + '?'"
      (confirmAction)="deleteMethod()" (cancelAction)="modal.dismiss('Cross click')">
    </app-confirm>
  </ng-template>
  
  
  <ng-template #errorMsgModal let-modal>
    <app-danger [tittleMsg]="'Error'" [contentMsg]="'Ha ocurrido un error, intente de nuevo mas tarde'"
      (confirmAction)="modal.dismiss('Cross click')">
    </app-danger>
  </ng-template>
  
  
  <ng-template #successMsgModal let-modal>
    <app-success [tittleMsg]="'Éxito'" [contentMsg]="successMsgModalMessage"
      (confirmAction)="modal.dismiss('Cross click')">
    </app-success>
  </ng-template>