.main-row{
    margin-left: 3%;
}
.btn-custom {
    background-color: #083A5B; /* Cambia el color de fondo del botón */
    border-color: #083A5B; /* Cambia el color del borde del botón */
    color: #ffffff; /* Cambia el color del texto del botón */
    width: 200px;
  }

  .target-image{
    background-color: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    border-color: #D1D1D1;
    width: 75px;
    height: 75px;
  }

  .target-text{
    border-style: solid;
   background-color: white;
    border-color: #D1D1D1;
    border-width: 1px;
    height: "35px";
   
  }

  .div-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-text{
    font-size: large;
    font-style: bold;
    margin-top: 10px;

  }
  .subtitle-tex{
    font-size: small;
    margin-top: -4px;

  }

  text-label {
    color: #F36E27;
  }

.icon-search-input{
  padding-left: 50px;
  background-image: url('/assets/icons/search.svg');
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: 10px 8px;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  border-color: #D1D1D1 !important;
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  border-width: 2px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  border-color: #D1D1D1 !important;
  min-height: 15px !important;
  border-width: 2px !important;
}

::ng-deep .mat-mdc-floating-label {
  top: 50% !important;
}