.main-row{
    margin-left: 3%;
}

.target-image{
    background-color: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    border-color: #D1D1D1;
   
  }

  .target-text{
    border-style: solid;
   background-color: white;
    border-color: #D1D1D1;
    border-width: 1px;
    height: "35px";
   
  }


  .div-center{
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .text-label{
    color:  #F36E27 ;
   text-align: center;

  }

  .text-label-sc{
    color:  #F36E27 ;
  }

  h6{
    color:  #F36E27 ;
    text-align: center;
  }