<div class="bg-white p-3 py-md-5 px-md-4 w-100 d-flex flex-column gap-3 gap-md-5 main-container-limits">
  <div class="d-flex gap-3 align-items-stretch flex-row pb-md-5">
    <div class="d-flex flex-1-in-sm">
      <input matInput placeholder="Ingrese su búsqueda" class="input-main icon-search-input width-max-in-sm">
    </div>
    <button type="button" class="btn btn-custom" type="button" (click)="newGroup()">
      <span class="d-none d-md-inline-block">
        Nuevo grupo
      </span>
      <span class="d-md-none px-2">
        +
      </span>
    </button>
  </div>
  <div class="row gap-3 gap-md-0" *ngFor="let item of groupsItems">
    <div class="col-sm-4">
      <div class="d-flex justify-content-start gap-3">
        <div class="target-image div-center">
          <img src={{item.imgSalon}} height="25px"  width="35px" />
        </div>
        <div>
          <p class="title-text mb-1 fw-semibold">{{item.grupo}}</p>
          <p class="subtitle-tex mb-1">{{item.profesor}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="item.grupo1!=null">
      <div class="d-flex justify-content-start gap-3">
        <div class="target-image div-center">
          <img src={{item.imgSalon1}} height="25px"  width="35px" />
        </div>
        <div>
          <p class="title-text mb-1 fw-semibold">{{item.grupo1}}</p>
          <p class="subtitle-tex mb-1">{{item.profesor1}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" *ngIf="item.grupo2!=null">
      <div class="d-flex justify-content-start gap-3">
        <div class="target-image div-center">
          <img src={{item.imgSalon2}} height="25px"  width="35px" />
        </div>
        <div>
          <p class="title-text mb-1 fw-semibold">{{item.grupo2}}</p>
          <p class="subtitle-tex mb-1">{{item.profesor2}}</p>
        </div>
      </div>
    </div>
  </div>
</div>