.h-container-ovf-auto{
    height: 30rem;
    overflow-y: auto;
}

.lainer-blue{
    border: 1.6px solid #083A5B;
    border-radius: 9px;
}

// .icon-sizing{
//     width: 20px;
//     height: 20px;
//     // font-size: 18px;
//     // zoom: 0.85;
// }

.date-w{
    width: 120px;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    border-color: #D1D1D1 !important;
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    border-width: 2px !important;
  }
  
  ::ng-deep .mat-mdc-form-field-infix {
    border-color: #D1D1D1 !important;
    min-height: 15px !important;
    border-width: 2px !important;
  }
  
  ::ng-deep .mat-mdc-floating-label {
    top: 50% !important;
  }