.h-container-ovf-auto{
    height: 30rem;
    overflow-y: auto;
}

.lainer-blue{
    border: 1.6px solid #083A5B;
    border-radius: 9px;
}

// .icon-sizing{
//     width: 20px;
//     height: 20px;
//     // font-size: 18px;
//     // zoom: 0.85;
// }

.date-w{
    width: 120px;
}