
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portal-school-primary: mat.define-palette(mat.$orange-palette);
$portal-school-accent: mat.define-palette(mat.$blue-palette, 900, A100, A400);

// The warn palette is optional (defaults to red).
$portal-school-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$portal-school-theme: mat.define-light-theme((
  color: (
    primary: $portal-school-primary,
    accent: $portal-school-accent,
    warn: $portal-school-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($portal-school-theme);

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.css";

$default-font: 'Open Sans', sans-serif;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-color{
  color: #F36E28;
}

.main-color svg {
  fill: #F36E28;
}

.secondary-color{
  color: #083A5B
}

.secondary-color svg{
  fill: #083A5B
}

.gray-color{
  color: #808080
}

.main-border {
  border: 1.7px solid #E6E6E6;
}

.border-orange{
  border: 2.3px solid #F36E28;
}

.input-main{
  border: 2px solid #D1D1D1;
  padding: 8px 13px;
  color: #191919;
  border-radius: 5px;
}

.input-main:focus, .input-main:focus-within {
  border: 2px solid #F36E28 !important;
}

.input-main:focus, .input-main:focus-within, .input-main:focus-visible {
  border: 2px solid #F36E28 !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #F36E28 !important;
}

.input-main::placeholder {
  color: #191919;
}

.btn-primary {
  background-color: #083A5B; /* Cambia el color de fondo del botón */
  border-color: #083A5B; /* Cambia el color del borde del botón */
  color: #ffffff; /* Cambia el color del texto del botón */
  width: 200px;
}

.flex-1{
  flex: 1;
}

.main-container-limits{
  max-width: 100vw;
  overflow-x: hidden;
}

.size-subtitle{
  font-size: 1.1rem;
}

.font-22{
  font-size: 22px !important;
}

.font-20{
  font-size: 20px !important;
}

.font-18{
  font-size: 18px !important;
}

.font-17{
  font-size: 17px !important;
}

.font-16{
  font-size: 16px !important;
}

.font-15{
  font-size: 15px !important;
}

.font-14{
  font-size: 14px !important;
}

.font-13{
  font-size: 13px !important;
}

.font-12{
  font-size: 12px !important;
}

.font-11{
  font-size: 11px !important;
}

@media (min-width: 1281px) {
  .font-22{
    font-size: 1.71875vw !important;
  }
  
  .font-20{
    font-size: 1.5625vw !important;
  }
  
  .font-18{
    font-size: 1.40625vw !important;
  }
  
  .font-17{
    font-size: 1.328125vw !important;
  }
  
  .font-16{
    font-size: 1.25vw !important;
  }

  .font-15{
    font-size: 1.171875vw !important;
  }
  
  .font-14{
    font-size: 1.09375vw !important;
  }

  .font-13{
    font-size: 1.015625vw !important;
  }
  
  .font-12{
    font-size: 0.9375vw !important;
  }
  
  .font-11{
    font-size: 0.859375vw !important;
  }
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

::ng-deep .mat-mdc-form-field-infix {
  min-height: 15px !important;
}

::ng-deep .mat-mdc-floating-label {
  top: 50% !important;
}

@media (min-width: 992px) {
  .main-container-limits{
    max-width: calc(100vw - 85px);
  }  
}

@media (min-width: 768px) {
  .main-container-limits{
    max-width: 100vw;
  }  
}

@media (max-width: 768px) {
  .width-max-in-sm {
      width: 100%;
  }
  .flex-1-in-sm{
    flex: 1;
  }
  .container-border-for-sm{
    border-color: #D1D1D1;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
  }
}
@media (max-width: 767px) {
  .px-0-for-sm{
    padding-left: 0;
    padding-right: 0;
  }
}