<div class="bg-white p-3 py-lg-5 px-md-4 w-100 d-flex flex-column gap-3 gap-md-4 gap-xxl-5 main-container-limits overflow-hidden">
    <div class="row w-100 mx-auto">
        <div class="col-12 col-lg-3 d-flex flex-column flex-md-row flex-lg-column gap-3 gap-lg-5 mb-4 mb-lg-0">
            <div class="w-100">
                <h5 class="text-center font-16 fw-semibold main-color">Foto de perfil</h5>
                <div clas="d-flex w-100 justify-content-center">
                    <input type="file" #inputImagen (change)="cargarImagen($event)" hidden>
                    <img src={{this.fileImage}} (click)="seleccionarImagen()" height="200" class="w-100" />
                </div>
            </div>
            <div class="w-100 main-border p-3 flex-1 d-flex flex-column gap-3">
                <h5 class="text-center font-16 fw-semibold main-color">Asignaciones escolares</h5>
                <div class="d-flex flex-column">
                    <label class="fw-semibold font-14 seconday-color" for="group">Grado / Grupo </label>
                    <mat-form-field appearance="outline">
                        <mat-label>Elige un grupo</mat-label>
                        <mat-select [(value)]="selectedItem">
                            <mat-option *ngFor="let item of  itemsGrupos"
                                [value]="item.idContenidoCatalogos">{{item.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>
        </div>
        <div class="flex-1 row mx-auto px-md-0">
            <div class="col-12 col-md-6 mb-4 mb-md-0 px-0-for-sm">
                <div class="main-border p-3 d-flex flex-column gap-3">
                    <h5 class="text-center font-16 fw-semibold main-color">
                        Datos Personales
                    </h5>
                    <form [formGroup]="form" class="d-flex flex-column gap-3">
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="nombres">Nombre(s)</label>
                            <input matInput id="nombres" type="text" name="nombres" formControlName="nombres"
                                class="mx-3 input-main input-width-mid font-14" aria-label="Montserrat">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="apaterno">Apellido Paterno</label>
                            <input matInput id="apaterno" type="text" name="apaterno" formControlName="apaterno"
                                class="mx-3 input-main input-width-mid font-14" aria-label="Montserrat">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="amaterno">Apellido Materno</label>
                            <input matInput id="amaterno" type="text" name="amaterno" formControlName="amaterno"
                                class="mx-3 input-main input-width-mid font-14" aria-label="Montserrat">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="fnacimiento">Fecha de Nacimiento</label>
                            <input matInput id="fnacimiento" type="date" name="fnacimiento"
                                formControlName="fnacimiento" class="mx-3 input-main input-width-mid font-14"
                                aria-label="Montserrat">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="amaterno">CURP</label>
                            <div class="d-flex gap-3 align-items-center mx-3">
                                <input matInput id="curp" value={{this.curpfile}} name="upload"
                                    class="input-main input-width-mid" aria-label="Montserrat" style="width: 76%;">
                                <div>
                                    <input type="file" #inputImagenCurp (change)="cargarImagenCurp($event)" hidden>
                                    <i (click)="seleccionarImagenCurp()" class="fa-solid fa-upload"
                                        style="font-size:1.5em;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="fnacimiento">Teléfono</label>
                            <input matInput id="telefono" type="text" name="telefono"
                                formControlName="telefono" class="mx-3 input-main input-width-mid font-14"
                                aria-label="Montserrat">
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="email">Correo Electrónico</label>
                            <input matInput id="email" type="email" name="email"
                                formControlName="email" class="mx-3 input-main input-width-mid font-14"
                                aria-label="Montserrat">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex px-0-for-sm">
                <div class="main-border p-3 d-flex flex-column gap-3 w-100">
                    <h5 class="text-center font-16 fw-semibold main-color">Datos profesionales</h5>
                    <form [formGroup]="form1" class="d-flex flex-column gap-3">
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="amaterno">Cédula profesional</label>
                            <div class="d-flex gap-3 align-items-center mx-3">
                                <input matInput id="cedula" type="text" value={{this.cedulafile}} name="cedula"
                                    class="input-main input-width-mid" aria-label="Montserrat" style="width: 76%;">
                                <div>
                                    <input type="file" #inputImagenCedula (change)="cargarImagenCedula($event)" hidden>
                                    <i (click)="seleccionarImagenCedula()" class="fa-solid fa-upload"
                                        style="font-size:1.5em;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-column gap-2">
                            <label class="fw-semibold font-14 seconday-color" for="email">Anexo</label>
                            <input matInput id="anexo" type="anexo" name="anexo"
                                formControlName="anexo" class="mx-3 input-main input-width-mid font-14"
                                aria-label="Montserrat">
                        </div>
                        <div class="d-flex justify-content-end px-4">
                            <button type="button" class="btn btn-custom-b px-4 font-14" type="button" (click)="submit()">
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
